{% extends 'base.html' %}
{% load staticfiles %}
	

	{% block title %}
		<title>Каталог товаров</title>
	{% endblock %}

	{% block link %}
	
		<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" type="application/octet-stream" href="{% static 'css/bootstrap.css.map' %}">


	{% endblock link %}


	{% block name_page %}
		<h2>Список товаров</h2>
	{% endblock %}




    {% block content %}
 		{% for item in items %}



			<div class="item  col-sm-4
			{% if item.get_chet %}
				col-sm-offset-1
			{% else %}
				col-sm-offset-2
			{% endif %}
			 ">
				<a href="{{ item.get_absolute_url }}">
					<div class="img-box">
						<img src="{{ item.img1.url }}" class="img-item">
					</div>

					<p>{{ item.title }}</p>
				</a>
				<p class="price">{{ item.price }}</p>

				<div class="btns">
					<div class="btn buy">
						<a href="#buy-item" class="popup" onClick="InsertItemName('{{ item.title }}')">Купить</a>
					</div>
					
					
					<div class="btn details">
						<a href="{{ item.get_absolute_url }}">Подробнее</a>
					</div>
				</div>
			</div>



		{% endfor %}


{% comment %}
		{% if messages %}

{% endcomment %}

<!-- <div class="success-bg">
	<div class="success-message">
		<div class="icon-ok">
			<div class="glyphicon glyphicon-ok-circle"></div>
		</div>
		<div class="message">
			Ваша заявка успешно отправлена! Мы обязательно перезвоним в указанное время!
		</div>
		<div class="exit-popup">
			<button id="close-btn"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
</div> -->
		{% if need_show_popup %}



<div class="success-bg">
	<div class="success-message">
		<div class="icon-ok">
			<div class="glyphicon glyphicon-ok-circle"></div>
		</div>
		<div class="message">
			Ваша заявка успешно отправлена! Мы обязательно перезвоним в указанное время!
		</div>
		<div class="exit-popup">
			<button id="close-btn"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
</div>

		{% endif %}
{% endblock %}


	{% block hid %}
	<!-- PopUp window -->
			<div class="hidden" >
				<!-- <form id="buy-item" method="post" action="">
					{% csrf_token %}
					<input type="text" name="name" placeholder="Имя:" id="name" required><br>

					
					<input type="text" name="phone" placeholder="Телефон:" id="phone" required><br>
					<p class="external_text">Когда Вам удобно принять звонок:</p>
		<div class="input_set">
					<div class="input_date">
							<div class="input_text">
								<p>Дата</p>
							</div>
						<select name="date" id="date" >
							
						</select>
					</div>
				
					<div class="input_time">
						<div class="input_text">
							<p>Время</p>
						</div>

						<span class="white">c&nbsp</span>
						<select name="time_from" id="time_from">
							<option value="12:00" selected>12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00">20:00</option>
						</select>&nbsp
					
				<span style="white-space: nowrap;">
						<span class="white">до&nbsp</span>
						<select name="time_to" id="time_to">
							<option value="12:00">12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00" selected="">20:00</option>
						</select>
				</span>
					</div>
			</div>
					<p class="external_text">Подробности заявки:</p>
					<textarea name="details" rows="6"></textarea>
					<input type="hidden" name="id" value="" id="hidden_input">
					<input type="submit" class="send" >
				</form> -->
				<form id="buy-item" method="post" action="">
					{% csrf_token %}

				{{ form.name }}<br>

					
					{{ form.phone }}<br>
					<p class="external_text">Когда Вам удобно принять звонок:</p>
		<div class="input_set">
					<div class="input_date">
							<div class="input_text">
								<p>Дата</p>
							</div>
						{{ form.date }}
					</div>
				
					<div class="input_time">
						<div class="input_text">
							<p>Время</p>
						</div>

						<span class="white">c&nbsp</span>
						{{ form.time_from }}
					
				<span style="white-space: nowrap;">
						<span class="white">до&nbsp</span>
						{{ form.time_to }}
				</span>
					</div>
			</div>
					<p class="external_text">Подробности заявки:</p>
					{{ form.details }}
					{{ form.item_name }}
					<!-- <input type="hidden" name="id" value="" id="hidden_input"> -->
					<input type="submit" class="send" >
				</form>
			</div>
	<!-- End PopUp -->
	{% endblock %}


	{% block script %}
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot' %}"></script>
<script type="text/javascript">
		function InsertItemName (name) {
			document.getElementById("hidden_input").value = name;
		}
	</script>
<script>
$(function(){
  $("#phone").mask("8(999) 999-99-99");
});
</script>

<script>
	// $(function(){
	// 	var date = new Date();
	// 	var day = date.getDate();
	// 	var month = date.getMonth();
	// 	var year = date.getFullYear();
	// 	for (i = 0; i < 8; i++){
	// 		var foo = new Date(year, month, day + i+1);
	// 		var foo_day = foo.getDate();
	// 		var foo_month = foo.getMonth(); 

	// 		monthA = 'января,февраля,марта,апреля,мая,июня,июля,августа,сенября,октября,ноября,декабря'.split(',');

	// 		document.getElementById("date").options[i] = new Option(foo_day + ' ' + monthA[foo_month], foo_day + ' ' + monthA[foo_month]);



			// date.setDate(date.getDate() + i);



		// };

	// });
	// alert('fuck');
	$(function(){
		// alert('pre if');
		if ($("div").is(".success-bg")) {
			// alert('if');
			$("#close-btn").click(function(){
				// alert('pre');
				$("div.success-bg").css('display', 'none');
				// alert('post');
			});
		};
		// alert('test');
	});
</script>
	{% endblock %}